body {
  margin: 0px;
  font: x-small Verdana, Arial, Helvetica, sans-serif;
}

/* --------------------------------------------------------------------- */
/* header                                                                */
/* --------------------------------------------------------------------- */

h1 {
  margin: 0px;
}
h2 {
  margin-top: 50px;
  padding: 5px;
  background: #8CD8E2;
}
h3 {
  margin-top: 30px;
  padding: 5px;
  background: #F4F8F1;
  border: 2px solid #8CD8E2;
  border-left: 10px solid #8CD8E2;
}

/* --------------------------------------------------------------------- */
/* table                                                                 */
/* --------------------------------------------------------------------- */

table {
  border-top: 1px solid lightsteelblue;
  border-collapse: collapse;
}
th, td {
  padding: 4px 8px;
  border-bottom: 1px solid lightsteelblue;
}
thead th, thead td,
tfoot th, tfoot td,
tr.tr_add_button th,
tr.tr_add_button td {
  background: ghostwhite;
}
tbody th {
  font-weight: normal;
  text-align: left;
}
tbody th.category {
  font-weight: bold;
  color: #709CD1;
  font-size: small;
}

table#complete_msg
{
    margin-bottom: 20px;
}

td.pgconfig_msg img {
  vertical-align: middle;
  margin-right: 5px;
  height: 12px;
}

/* --------------------------------------------------------------------- */
/* link                                                                  */
/* --------------------------------------------------------------------- */

a:link {
  color: red; 
  text-decoration: none;
}
a:visited {
  color: maroon;
  text-decoration: none;
}
a:link:hover, a:visited:hover {
  color: orangered;
  text-decoration: underline;
}
a img {
  border: none;
}

#div_log a:link, #div_log a:visited {
  color: orangered;
  text-decoration: underline;
}

/* --------------------------------------------------------------------- */
/* input                                                                 */
/* --------------------------------------------------------------------- */

input {
  font: x-small Verdana, Arial, Helvetica, sans-serif;
}
input[type=button], input[type=submit] {
  border-radius: 3px;
  padding: 2px 5px;

  vertical-align: middle;

  border-top: 1px solid #aaa;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  border-left: 1px solid #aaa;

  -webkit-border-radius: 3px;
  -moz-border-radius:    3px;
  border-radius:         3px;

  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  border-top: 1px solid #666;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #666;

  background: #f3f3f3;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff));
  background: -moz-linear-gradient(top, #eeeeee, #ffffff);
  color: #5f5f5f;
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
  border-top: 1px solid #666;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #666;

  background: #cccccc;
  color: #000000;
}
input[type=button].command_active {
  background: yellow;
  background: -webkit-gradient(linear, left top, left bottom, from(yellow), to(#FCE114));
  background: -moz-linear-gradient(top, yellow, #FCE114);
  border-color: #BC4B00;
}

input[type=button][disabled], input[type=button][disabled]:hover {
  border-top: 1px solid #aaa;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  border-left: 1px solid #aaa;

  background: #dedede;
  color: #777777;
  text-shadow: #eeeeee 0 1px 0;
}
input[type=button][disabled]:hover {
  background: #f0f0f0;
}

/* --------------------------------------------------------------------- */
/* text                                                                  */
/* --------------------------------------------------------------------- */

label {
  font-weight: bold;
}
pre {
    background-color: #EFEFFC;
    padding: 5px 15px;
}
p {
    margin: 5px;
}
ul {
  list-style: square;
}
/* --------------------------------------------------------------------- */
/* div                                                                   */
/* --------------------------------------------------------------------- */

/* header */
#header {
  padding: 8px;
  border-bottom: 8px solid white;
  background: steelblue url("images/sea.jpg") no-repeat bottom right;
}

/* menu */
#menu {
  padding-bottom: 40px;
  border-top: 1px solid lightsteelblue;
  border-right: 1px solid lightsteelblue;
  float: left;
  width: 176px;
  overflow: hidden;
  background: ghostwhite;
}
#menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#menu li {
  border-bottom: 1px solid lightsteelblue;
}
#menu a:link, #menu a:visited {
  padding: 8px 0px;
  display: block;
  color: black;
  background: url("images/marker.gif") no-repeat 8px;
  text-indent: 16px;
  text-decoration: none;
}
#menu a:hover {
  background: antiquewhite url("images/marker.gif") no-repeat 8px;
}

/* content */
#content {
  padding: 8px 8px 40px 185px;
  border-top: 1px solid lightsteelblue;
  background: white url("images/background.gif") repeat-y left;
}

/* submenu */
#submenu {
  border: 1px solid lightsteelblue;
  float: right;
  background: ghostwhite;
  font-size: x-small;
}
#submenu h3 {
  margin: 0px;
  padding: 4px 8px;
  border: 0px solid black;
  border-bottom: 4px solid white;
  color: white;
  background: steelblue;
  text-align: center;
}
#submenu ul {
  margin: 0px;
  padding: 8px;
  border-top: 1px solid lightsteelblue;
  list-style: square inside;
}

/* footer */
#footer {
  padding: 8px 8px 20px;
  clear: left;
  color: white;
  background: lightsteelblue;
}
#footer address {
  font-style: normal;
}
#footer p {
  margin: 0px;
  float: right;
}
#footer a:link, #footer a:visited {
  color: white;
  font-weight: bold;
}

/* help */
#help {
  float: right;
}

/* commands */
#div_commands {
  margin-bottom: 20px;
}

/* --------------------------------------------------------------------- */
/* other                                                                 */
/* --------------------------------------------------------------------- */

.hidden {
  display: none;
}
.odd {
}
.even {
  background: azure;
}
.error {
  font-weight: normal;
  text-align: left;
  background: #FFB499;
}
.right_border {
  border-right: 1px solid lightsteelblue;
  border-collapse: collapse;
}
.message {
    margin-top: 10px;
    border: 5px solid lightsteelblue;
    border-radius: 5px;
    background-color: ghostwhite;
    padding: 10px;
}
.message h3 {
    border: 0px solid black;
    color: #4682B4;
}
.message p {
    font-family: monospace;
    border-bottom: 1px dotted #cccccc;
}
.param_group {
    background-color: #78A1D3;
    padding: 3px 5px;
    border-radius: 3px;
    color: white;
}

/* --------------------------------------------------------------------- */
/* Refresh info                                                          */
/* --------------------------------------------------------------------- */

div.auto_reloading {
  float: right;
  margin-bottom: 10px;
}
div.auto_reloading img {
  vertical-align: middle;
  height: 13px;
}
div.auto_reloading span {
  padding: 2px 5px;
  margin: 5px;
  color: #2D1D00;
}
